html {
    min-height: 100%
}

body {
    background-color: #beceeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%
}

svg {
    background-color: #9dd4bd;
}

#canvas {
    min-height: 600px;
    min-width: 1200px;
}

#tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
}

.cell:hover{
    fill: black;
}
